# Ignorar la configuración del editor VS Code, Geany, Sublime-text
.vscode
.clang-format
DynRange.geany
rango.sublime-workspace

# Ignorar ejecutables
sources.sh
dynaRange.exe
rango.exe
dynaRangeGui.exe
dynaRangePortable/dynaRange.exe
dynaRangePortable/rango.exe
dynaRangePortable/dynaRange
dynaRangePortable/rango

# Ignorar directorios de datos y de compilación
raws
build
sources
.cache
#dynaRange.pot
