# Ignorar la configuración del editor VS Code, Geany, Sublime-text
.vscode
DynRange.geany
rango.sublime-workspace

# Ignorar ejecutables
dynaRange.exe
rango.exe
dynaRangeGui.exe

# Ignorar directorios de datos y de compilación
raws
build
.cache