# Ignorar la configuración del editor VS Code
.vscode

# Ignorar ejecutables
dynaRangePortable/dynaRange.exe
dynaRangePortable/rango.exe
dynaRangePortable/dynaRangeGui.exe

# Ignorar directorios de datos y de compilación
raws
build